
header {
     background-color: #3E0110;
     box-shadow: 0px 1px 3px #3E0110;
     position: sticky;
     top: 0;
     width: 100%;
     z-index: 1000;
}
.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}


.logo{
    width: 50px;
    height: 50px; 
}

.logo:last-child {
    display: none;
}


.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.logo-text h1 {
    color: #A8743C;
    font-size: 1.2rem;
    font-family: var(--font-family-titles);
    padding: 0.625rem;
}

.menu {
    height: 50px;
}

.menu-mobile {
    padding: 0.625rem 0.625rem 0 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40px;
    border: none;
    background-color: transparent;
}

.content-itens--menu h1 {
    display: none;
    color: #A8743C;
    font-size: 2rem;
    font-family: var(--font-family-titles);
}

.mm-line {
    height: 1px;
    width: 30px;
    background-color: #A8743C;
}

.menu-mobile-click{
    background-color: #FFF;
}

.itens-menu {
    background-color: #3E0110;
    box-shadow: 0px 1px 3px #3E0110;
    position: absolute;
    left: 0;
    top: calc(90px);
    width: 100%;
    padding: 1rem 0;
    text-align: center;

    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

.menu a {
    position: relative;
    font-weight: var(--font-weight-medium);
    font-size: 1rem;
    text-decoration: none;
    color: #CCC;
    text-transform: uppercase;
    display: block;
    transition: var(--transition-fast);
    padding: 0.625rem;
    font-family: var(--font-family-text);
}

.menu a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px; 
  width: 0;
  height: 1px;
  background-color: #8b0000; 
  transition: all 0.3s ease;
  transform: translateX(-50%);
  background: linear-gradient(to right, transparent,#e0be66b6);

}

.menu a:hover{
    color: var(--action-color);
}

.menu a:hover::after {
  width: 150%; 
}

.show-menu {
    display: flex;
}




@media(min-width: 768px) {

    .logo {
        width: 90px;
        height: 40px;
    }

    .logo:last-child {
        display: block;
    }

    .logo img {
        width: 100%;
        height: 100%;
    }

    .logo-text h1{
        font-size: 2.5rem;
        padding: 0;
    }

    .menu-mobile {
        display: none;
    }

    .menu {
        display: flex;
        align-items: center;
    }

    .itens-menu {
        position: unset;
        top: unset;
        left: unset;
        width: unset;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .menu a {
        padding: 0.3125rem;
        font-size: 0.875rem;
        text-transform: unset;
        font-weight: 500;
        color: #999;
    }

    .menu a:hover::after {
        width: 100%; 
    }

    .content-itens--menu h1{
        display: block;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    }

    .content-itens--menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

}


@media(min-width: 1024px) {


    .itens-menu {
       gap: 1rem;
    }

    .itens-menu a {
        font-size: 1.1rem;
    }

    .logo-text h1{
        font-size: 3.5rem;
        padding: 0;
    }
    

}